extends layout

block css
  link(rel="stylesheet", href="/stylesheets/impostor.css")

block scripts
    script(src='/js/impostor.js')

block content

    div(class='paragraph')

      h5 Bienvenido #{genuine_user.name}

      p(class="paragraph-justify") #{subtitle} Ahora tendrás que hacerte pasar por un usuario impostor e ingresar las credenciales del siguiente usuario. NO lo uses para iniciar sesión en la pantalla inicial.

    hr(class="paragraph-justify")

    div(class="form-impostor")

      div(class="form-group hidden")
        h5 Id de Usuario
        label(id="tvImpostorUserId") #{impostor_user._id}

      div(class="form-group")
        h5 Usuario
        label(id="tvImpostorUsername") #{impostor_user.username}

      div(class="form-group")
        h5 Contraseña
        label(id="tvImpostorPassword") #{impostor_user.password}

      div(class="form-group")
        h5 # Captura válidas recolectadas:
        label(id="tvAttempt") 0

        div(class="progress")
          div(class="progress-bar", role="progressbar", id="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")

      form
        div(class="form-group")

          input(type="text", 
                class="form-control", 
                id="etUsername",
                placeholder="Nombre de usuario",
                autocomplete="off"
          )

          input(type="text", 
                class="form-control",
                id="etPassword",
                placeholder="Contraseña",
                autocomplete="off"
          )

        div(class="form-group")
          div(class="form-group", id="btnSend")
            button(type="button",  class="btn btn-success", onclick="send()") Guardar muestra
